{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Army Worms</title>
        <style>
            article{
            display:flex;
            flex-flow:row wrap;
            justify-content:center;
            margin:0px 5px;
            }
            body{
            color:ivory;
            font-size:22px;
            }
            .s1{
                width:40%;
                 }

        </style>
</head>
<body style="background-image:url({% static 'images/bg1.jpg' %})">
<h1 style="text-align: center">Army Worms</h1>
<article>
<section class="s1">
<img src="{% static 'images/wheat/aw.jpg' %}"  width="300" height="350">
</section>
<section class="s1" >
    <h2 style="text-align: left; color:lightgreen">Introduction</h2>
    <p>Armyworms overwinter as larvae in soil. Next spring, larvae resume feeding until fully grown and then pupate in the soil. Adults emerge, mate and lay eggs in May and June. The next set of larvae emerge 1-3 weeks later and young larvae feed in groups at night. Feeding will continue for about 4 weeks until the larvae are fully grown. The second set of adults emerge in August. Typically, there are 2 generations per summer with the first generation doing to greatest damage in late June or early July.</p>

    <h2 style="text-align: left; color:lightgreen">Symptoms</h2>
    <ul >
        <li>Caterpillars march in large numbers in the evening hours and feed on the leaves of paddy seedlings till the morning and hide during daytime.</li>
        <li>They feed gregariously and after feeding the plants in one field march onto the next field.</li>
        <li>Under severe infestation crop gives the grazed appearance.</li>
        <li>Attacked plants are reduced to stumps.</li>
        <li>Nurseries situated in ill-drained marshy areas attacked earlier than dry ground.</li>
        <li>Damage is severe during July to September.</li>
    </ul>
    <h2 style="text-align: left; color:red">Control Measures and Nutrient recommendation</h2>
    <ul>
        <li>Cultural Methods :</li>
        <ul>
            <li>Drain the water in the field.</li>
            <li>Flooding the nursery makes the hiding larvae to come to the surface and thus they are picked by birds.</li>
            <li>Kerosenate the water while irrigation – suffocation</li>
            <li>Allow ducks into the field</li>
        </ul>

        <li>Chemical Methods</li>
        <ul>
            <li>Spray chlorpyriphos 20 EC 80ml + 20 lit of water for 8 cents
            </li>
        </ul>
        <li>Biological Methods</li>
        <ul>
            <li>Parasitoids such as tachinids, ichneumonids, eulophids, chalcids, and braconid wasps parasitize this pest.</li>
            <li>Meadow grasshoppers, ants, birds and toads feed on the pest.</li>
        </ul>

    </ul>

</section>
</article>
</body>



</html>