{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blossom End Rot</title>
        <style>
            article{
            display:flex;
            flex-flow:row wrap;
            justify-content:center;
            margin:0px 5px;
            }
            body{
            color:ivory;
            font-size:22px;
            }
            .s1{
                width:40%;
                 }

        </style>
</head>
<body style="background-image:url({% static 'images/bg1.jpg' %})">
<h1 style="text-align: center">Blossom End Rot</h1>
<article>
<section class="s1">
<img src="{% static 'images/tomato/ber.jpeg' %}"  width="300" height="350">
</section>
<section class="s1" >
    <h2 style="text-align: left; color:lightgreen">Introduction</h2>
    <p>Blossom-end rot is caused by insufficient calcium in the tissue of the tomato. Calcium is taken up into the plant through the roots, however, it settles in one part of the plant. This means that the rot can occur even when there is an ample supply of calcium in the soil, stems or leaves.</p>

    <h2 style="text-align: left; color:lightgreen">Symptoms</h2>
    <ul >
        <li>Blossom end rot symptoms occur on both green and ripe fruits and is identified by water-soaked areas that gradually widen and mature into sunken, brown, leathery spots on the bottom end. </li>
        <li>In many cases, secondary pathogens, which appear as a black, fuzzy-like growth, attack the affected area and cause complete rotting of the fruit. </li>
        <li>Blossom end rot will not spread from plant to plant.</li>
    </ul>
    <h2 style="text-align: left; color:red">Control Measures and Nutrient recommendation</h2>
    <ul >
        <li>Choose resistant vegetable varieties whenever possible.</li>
        <li>Prevent problems by keeping soil evenly moist and by foliar spraying plants with a kelp or calcium solution.</li>
        <li>Adding high levels of calcium —<b> bone meal, oyster shell or gypsum</b> — to the soil at planting time usually prevents this problem from developing.</li>
        <li>A layer of mulch (straw, compost, grass ) will help conserve soil moisture during the hot, dry days of July and August.</li>
        <li>Foliar applications of <b>Liquid Calcium 5% (1-2 Tbsp/ gallon of water)</b> can be used to correct or prevent deficiencies of this essential nutrient. For best results, combine with a natural surfactant to increase adhesion and spray leaves to the point of run-off.</li>
        <li>Mulching plants will help conserve moisture and provide a more uniform water supply.</li>
        <li>Avoid using high nitrogen fertilizers which accelerate vegetative growth and reduce the uptake of calcium by plants.</li>
        <li>A large selection of balanced organic fertilizers are available at Planet Natural.</li>
    </ul>

</section>
</article>
</body>



</html>