{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bud rot</title>
        <style>
            article{
            display:flex;
            flex-flow:row wrap;
            justify-content:center;
            margin:0px 5px;
            }
            body{
            color:ivory;
            font-size:22px;
            }
            .s1{
                width:40%;
                 }

        </style>
</head>
<body style="background-image:url({% static 'images/bg1.jpg' %})">
<h1 style="text-align: center">Bud Rot and Nutfall</h1>
<article>
<section class="s1">
<img src="{% static 'images/coconut/brnf.jpg' %}"  width="300" height="350">
</section>
<section class="s1" >
    <h2 style="text-align: left; color:lightgreen">Introduction</h2>
    <p>This disease is found Worldwide. It is reported wherever coconuts are grown. It is recorded on coconut from Cook Islands, Fiji, Papua New Guinea, Samoa, Tonga, and Vanuatu.</p>

    <h2 style="text-align: left; color:lightgreen">Symptoms</h2>
    <ul >
        <li>By the time symptoms appear, the disease is advanced with rotting of the bud and inner leaves</li>
        <li>The first sign is a wilt or a bending of the spear leaf; sometimes the spear leaf becomes light green, but not always.</li>
        <li>The outer leaves then start to yellow from the top of the fronds downwards, and then turn brown.</li>
        <li>Yellow to light brown, sunken patches occur on the leaf stalks.</li>
        <li>As the disease progresses, the central leaves fall out as they become completely rotten at the base of the leaf stalks, leaving only a few outer leaves, which remain green for a while.</li>
        <li>However, after a few months they dry out and fall. A foul smell occurs as the bud rots.</li>

    </ul>
    <h2 style="text-align: left; color:red">Control Measures and Nutrient recommendation</h2>
    <ul >
        <li>Make sure the plantation has good drainage; good drainage lowers the humidity in the plantation and reduces leaf wetness, which is needed for spore germination.</li>
        <li>Cut down and burn affected trees; do this as soon as the disease is seen.</li>
        <li>Plant palms at least 10 m apart; wide spacing allows air movement through the plantation, and reduces the times that leaves are wet and spores can infect.</li>
        <li>Tolerance to bud rot varies between varieties. Malayan yellow and red dwarf varieties are susceptible to bud rot caused by Phytophthora palmivora, but hybrids with dwarf and tall parents are less so. </li>
        <li><b>Bordeaux paste is made by mixing together 100 g copper sulphate with 100 g quick lime (calcium oxide)</b>, each dissolved in 500 ml water, and then mixed together.</li>
        <li>Other copper-based fungicides are probably as effective.</li>
        <li><b>Phosphorus acid (as potassium phosphonate) and metalaxyl</b> have also been recommended and, in the Ivory Coast, a commercial injector is used to apply these products, and to manage epidemics of the disease.</li>

    </ul>

</section>
</article>
</body>



</html>