{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Basal Stem Rot</title>
        <style>
            article{
            display:flex;
            flex-flow:row wrap;
            justify-content:center;
            margin:0px 5px;
            }
            body{
            color:ivory;
            font-size:22px;
            }
            .s1{
                width:40%;
                 }

        </style>
</head>
<body style="background-image:url({% static 'images/bg1.jpg' %})">
<h1 style="text-align: center">Basal Stem Rot</h1>
<article>
<section class="s1">
<img src="{% static 'images/coconut/bsr.jpg' %}"  width="300" height="350">
</section>
<section class="s1" >
    <h2 style="text-align: left; color:lightgreen">Introduction</h2>
    <p>The basal stem rot disease of coconut is known as Thanjavur wilt in Tamil Nadu, Anaberoga in Karnataka and Ganoderma wilt in Andhra Pradesh. This disease usually attacks old or weak palms under stress condition.</p>

    <h2 style="text-align: left; color:lightgreen">Symptoms</h2>
    <ul >
        <li>The outer leaves wither and droop and usually remain suspended for a long time around the stem.</li>
        <li>The leaves break or buckle very close to their bases.</li>
        <li>Successively produced leaves are smaller and the crown is reduced to a mere handful of short erect yellow leaves.</li>
        <li>Production of female flowers are arrested or poorly developed in severely affected palms.</li>
        <li>Similarly necrosis of the male flowers are also noticed</li>
        <li>Frequently the palms break off at the base and collapse.</li>
        <li>Apex of the trunk show a tapering pattern.</li>
        <li>As the disease advance drooped leaves fall off one by one leaving only a few smaller leaves at the apex.</li>
        <li>Roots as well as basal portion of the stem of the infected palm show varying degrees of discolouration and disintegration.</li>
        <li>In most of the cases, the roots became brittle.</li>

    </ul>
    <h2 style="text-align: left; color:red">Control Measures and Nutrient recommendation</h2>
    <ul >
        <li>Remove and destroy palms in the advanced stages of infection.</li>
        <li>Burn the bole portion along with the roots Isolate diseased palms from healthy palms by digging isolation trenches of 1 m deep and 50cm wide.</li>
        <li>Regular basin irrigation during summer months.</li>
        <li>Avoid flood irrigation to prevent the possible spread of the pathogen through soil.</li>
        <li>Apply50 kg farmyard manure and 5 kg <b>neem cake </b>per palm per year.</li>
        <li>Apply <b>Trichoderma harzianum </b>fortified in neem cake/compost/organic matter Reduce the fertilizer application to one fourth of the recommended dose.</li>
        <li>Soil drenching with<b> 40 L of 1% Bordeaux mixture</b> thrice a year.</li>
        <li>Root feeding with<b> 2 g aureofungin sol + 1g of copper sulphate</b> in 100ml of water three times a year or alternatively with <b>tridemorph (Calixin)</b> 2 ml in 100ml water.</li>

    </ul>

</section>
</article>
</body>



</html>