{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eriophyid coconut mite</title>
        <style>
            article{
            display:flex;
            flex-flow:row wrap;
            justify-content:center;
            margin:0px 5px;
            }
            body{
            color:ivory;
            font-size:22px;
            }
            .s1{
                width:40%;
                 }

        </style>
</head>
<body style="background-image:url({% static 'images/bg1.jpg' %})">
<h1 style="text-align: center">Eriophyid coconut mite</h1>
<article>
<section class="s1">
<img src="{% static 'images/coconut/ecm.jpg' %}"  width="300" height="350">
    <p>Effect on Coconut</p>
<img src="{% static 'images/coconut/ecm1.jpg' %}"  width="300" height="350">
    <p>Eriophyid Rhinoceres mite</p>
</section>
<section class="s1" >
    <h2 style="text-align: left; color:lightgreen">Introduction</h2>
    <p>Rhinoceros beetles are herbivorous insects named for the horn-like projections on and around the males' heads. Most are black, gray, or greenish in color, and some are covered in soft hairs. Another name given to some of these insects is the Hercules beetle, because they possess a strength of Herculean proportion.</p>

    <h2 style="text-align: left; color:lightgreen">Symptoms</h2>
    <ul >
        <li>V-shaped cuts in palm fronds or holes in leaf midribs caused by beetles boring into crown to feed.</li>
        <li> Adult insect is a large black beetle with a curved spine on its head.</li>
        <li> Larvae are creamy white grubs with brown heads and 3 sets of prolegs at the anterior (head) end.</li>

    </ul>
    <h2 style="text-align: left; color:red">Control Measures and Nutrient recommendation</h2>
    <ul >
        <li>Destroy any decaying logs in plantation by chopping and burning to kill any larvae that may be inside.</li>
        <li>Remove any dead trees from plantation and destroy by burning.</li>
        <li>Provide proper fertilizer and water for trees to withstand mite damage</li>
        <li>Plant a cover crop to deter egg laying by females as they do not lay eggs in areas covered by vegetation</li>
        <li>Hooked wire can be used to extract larvae that are boring into young crowns.</li>
        <li>Encourage natural enemies of mite in the orchard. If infestation is severe, apply suitable insecticide by root feeding or stem injection</li>
    </ul>

</section>
</article>
</body>



</html>