{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>False Smut</title>
        <style>
            article{
            display:flex;
            flex-flow:row wrap;
            justify-content:center;
            margin:0px 5px;
            }
            body{
            color:ivory;
            font-size:22px;
            }
            .s1{
                width:40%;
                 }

        </style>
</head>
<body style="background-image:url({% static 'images/bg1.jpg' %})">
<h1 style="text-align: center">False Smut</h1>
<article>
<section class="s1">
<img src="{% static 'images/rice/fs.jpg' %}"  width="300" height="350">
</section>
<section class="s1" >
    <h2 style="text-align: left; color:lightgreen">Introduction</h2>
    <p>False smut causes chalkiness of grains which leads to reduction in grain weight. It also reduces seed germination.The disease can occur in areas with high relative humidity (>90%) and temperature ranging from 25−35 ºC.

Rain, high humidity, and soils with high nitrogen content also favors disease development. Wind can spread the fungal spores from plant to plant.</p>

    <h2 style="text-align: left; color:lightgreen">Symptoms</h2>
    <ul >
        <li>Check for presence of velvety smut balls on spikelets.</li>
        <li>Plants infected with false smut have individual rice grain transformed into a mass of spore balls.</li>
        <li> These spore balls are initially orange, and then turn into greenish black when these mature.</li>
        <li>In most cases, not all spikelets of a panicle are affected, but spikelets neighboring smut balls are often unfilled.</li>
            <ul>
                <li>Individual rice grain transformed into a mass of velvety spores or yellow fruiting bodies</li>
                <li>Growth of velvety spores enclose floral parts</li>
                <li>Immature spores slightly flattened, smooth, yellow, and covered by a membrane</li>
                <li>Growth of spores result to broken membrane</li>
                <li>Mature spores orange and turn yellowish green or greenish black</li>
                <li>Only few grains in a panicle are usually infected and the rest are normal</li>

            </ul>
    </ul>
    <h2 style="text-align: left; color:red">Control Measures and Nutrient recommendation</h2>
    <ul >
        <li>Keep the field clean.</li>
        <li>Remove infected seeds, panicles, and plant debris after harvest.</li>
        <li>Reduce humidity levels through alternate wetting and drying (AWD) rather than permanently flooding the fields.</li>
        <li>Where possible, perform conservation tillage and continuous rice cropping.</li>
        <li>Use moderate rates of Nitrogen.</li>
        <li>Use certified seeds.</li>
        <li>Resistant varieties have been reported. Contact your local agriculture office for an up-to-date list of available varieties.</li>
        <li>Treat seeds at 52°C for 10 min.</li>

    </ul>

</section>
</article>
</body>



</html>