{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Leaf rot</title>
        <style>
            article{
            display:flex;
            flex-flow:row wrap;
            justify-content:center;
            margin:0px 5px;
            }
            body{
            color:ivory;
            font-size:22px;
            }
            .s1{
                width:40%;
                 }

        </style>
</head>
<body style="background-image:url({% static 'images/bg1.jpg' %})">
<h1 style="text-align: center">Leaf Rot</h1>
<article>
<section class="s1">
<img src="{% static 'images/coconut/lr.jpg' %}"  width="300" height="350">
</section>
<section class="s1" >
    <h2 style="text-align: left; color:lightgreen">Introduction</h2>
    <p>Occurrence of leaf rot disease (LRDC) of coconut is related to increased incidence of root
wilt disease (RWD). The palms with RWD irrespective of age are susceptible, young ones are more
susceptible to LRDC. Tender leaves especially the spindle play a critical role in LRDC incidence
and the disease attributed to fungal complex. </p>

    <h2 style="text-align: left; color:lightgreen">Symptoms</h2>
    <ul >
        <li>The first symptom is the appearance of water-soaked brown lesions in the spear leaves of root-wilt affected palm</li>
        <li>Gradually these spots enlarge and coalesce resulting in extensive rotting.</li>
        <li>As the leaf unfurls the rotten portions of the lamina dry and get blown off in wind, giving a "fan" shape to the leaves.</li>
        <li>Sometimes, the symptom becomes very acute and the spear fails to unfurl.</li>

    </ul>
    <h2 style="text-align: left; color:red">Control Measures and Nutrient recommendation</h2>
    <ul >
        <li><b>Physical method:</b> Remove the rotten portions from the spear and the two adjacent leaves.</li>
        <li>Pour fungicide solution of <b>Hexaconazole - 2ml or Mancozeb - 3g </b>in 300ml water per palm to the base of spindle leaf. 2-3 rounds of spraying are sufficient in case of mild infection.</li>
        <li>Spray the crowns and leaves with<b> 1% Bordeaux mixture or 0.5% copper oxychloride formulations or 0.4% mancozeb</b> in January, April-May and September. While spraying, care has to be taken to spray the spindle leaf.</li>

    </ul>

</section>
</article>
</body>



</html>