{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rice Gall Midge</title>
        <style>
            article{
            display:flex;
            flex-flow:row wrap;
            justify-content:center;
            margin:0px 5px;
            }
            body{
            color:ivory;
            font-size:22px;
            }
            .s1{
                width:40%;
                 }

        </style>
</head>
<body style="background-image:url({% static 'images/bg1.jpg' %})">
<h1 style="text-align: center">Rice Gall Midge</h1>
<article>
<section class="s1">
<img src="{% static 'images/rice/lhph.jpg' %}"  width="300" height="350">
</section>
<section class="s1" >
    <h2 style="text-align: left; color:lightgreen">Introduction</h2>
    <p>The Asian rice gall midge is found in irrigated or rainfed wetland environments during the tillering stage of the rice crop. It is also common in upland and deepwater rice. The adults are nocturnal and can easily be collected using light traps.

During the dry season, the insect remains dormant in the pupal stage. They become active again when the buds start growing after the rains.

The population density of the Asian rice gall midge is favored mainly by cloudy or rainy weather, cultivation of high-tillering varieties, intensive management practices, and low parasitization.</p>

    <h2 style="text-align: left; color:lightgreen">Symptoms</h2>
    <ul>
        <li>Formation of a hollow cavity or tubular gall at the base of the infested tiller. The gall formed is a silvery white hollow tube, 1 cm wide and 10−30 cm long</li>
        <li>Affected tiller inhibits growth of leaves and fails to produce panicles</li>
        <li>Deformed, wilted, and rolled leaf</li>
        <li>Elongation of leaf sheaths, also called onion leaf or silvershoot</li>
        <li>Plant stunting</li>
    </ul>
    <h2 style="text-align: left; color:red">Control Measures and Nutrient recommendation</h2>
    <ul >
        <li>Use resistant varieties. Contact your local agriculture office for up-to-date lists of varieties available.</li>
        <li>Plow ratoon of the previous crop and remove all off-season plant hosts.</li>
        <li>Encourage biological control agents: platygasterid, eupelmid, and pteromalid wasps (parasitize the larvae), phytoseiid mites (feed on eggs), spiders (feed on adults).</li>

    </ul>

</section>
</article>
</body>



</html>