{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rice Grass Stunt</title>
        <style>
            article{
            display:flex;
            flex-flow:row wrap;
            justify-content:center;
            margin:0px 5px;
            }
            body{
            color:ivory;
            font-size:22px;
            }
            .s1{
                width:40%;
                 }

        </style>
</head>
<body style="background-image:url({% static 'images/bg1.jpg' %})">
<h1 style="text-align: center">Rice Grass Stunt</h1>
<article>
<section class="s1">
<img src="{% static 'images/rice/rgs.jpg' %}"  width="300" height="350">
</section>
<section class="s1" >
    <h2 style="text-align: left; color:lightgreen">Introduction</h2>
    <p>Rice grassy stunt virus is a plant pathogenic virus transmitted by the brown planthopper, Nilaparvata lugens, and two other Nilaparvata species, N. bakeri and N. muiri. The virus is found in South and Southeast Asia, China, Japan, and Taiwan. From 1970 to 1977, RGSV incidence was high in Indonesia.</p>

    <h2 style="text-align: left; color:lightgreen">Symptoms</h2>
    <ul>
        <li>severely stunted plants</li>
        <li>excessive tillering</li>
        <li>very upright plant growth</li>
        <li>grassy and rosette appearance of plants</li>
        <li>yellowish green leaves that are shorter and narrower than normal</li>
        <li>leaves that remain yellow even after application of sufficient nitrogen fertilizers</li>
        <li>numerous small rusty spots or patches on leaves, which merge into blotches</li>
        <li>leaves have a mottled appearance</li>
        <li>plants that fail to produce panicles</li>
    </ul>
    <h2 style="text-align: left; color:red">Control Measures and Nutrient recommendation</h2>
    <ul >
        <li>Avoid close planting and provide 30 cm rogue spacing at every 2.5 to 3.0 m to reduce the pest incidence.</li>
        <li>There are varieties released by IRRI, which contain genes for BPH resistance, like IR26, IR64, IR36, IR56, and IR72.</li>
        <li>ploughing and harrowing the field to destroy stubbles right after harvest in order to eradicate other hosts.</li>
        <li>
Apply any one of the following to control vector BPH

            <b>Phosphamidon 40 SL 1000 ml/ha (or) Phosalone 35 EC 1500 ml/ha (or) Carbaryl 10 D 25 kg/ha (or) (or) Acephate 75 SP 625 gm/ha (or) Chlorpyriphos 20 EC 1250 ml/ha.</b></li>

    </ul>

</section>
</article>
</body>



</html>