{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RTBV</title>
        <style>
            article{
            display:flex;
            flex-flow:row wrap;
            justify-content:center;
            margin:0px 5px;
            }
            body{
            color:ivory;
            font-size:22px;
            }
            .s1{
                width:40%;
                 }

        </style>
</head>
<body style="background-image:url({% static 'images/bg1.jpg' %})">
<h1 style="text-align: center">Rice tungro bacilliform virus (RTBV)</h1>
<article>
<section class="s1">
<img src="{% static 'images/rice/rtbv.jpg' %}"  width="300" height="350">
</section>
<section class="s1" >
    <h2 style="text-align: left; color:lightgreen">Introduction</h2>
    <p>Rice tungro bacilliform virus (RTBV) is a reverse-transcribing DNA virus which, in association with an RNA virus, Rice tungro spherical virus (RTSV), is responsible for rice tungro disease (22), the most important viral disease of rice in South and Southeast Asia. In rice tungro, RTBV induces most of the symptoms (yellowing and reddening of the leaves, stunting of rice plants) and RTSV is mainly involved in the transmission of both viruses via the green leafhopper Nephotettix virescens </p>

    <h2 style="text-align: left; color:lightgreen">Symptoms</h2>
    <ul>
        <li>Plants affected by tungro exhibit stunting and reduced tillering. Leaves become yellow or orange-yellow, it may also have rust-colored spots.</li>
        <li>Discoloration begins from leaf tip and extends down to the blade or the lower leaf portion</li>
        <li>Delayed flowering, - panicles are small and not completely exerted</li>
        <li>Most panicles are sterile or partially filled grains</li>
        <li>Tungro virus disease affects all growth stages of the rice plant specifically high at vegetative stage.</li>

    </ul>
    <h2 style="text-align: left; color:red">Control Measures and Nutrient recommendation</h2>
    <ul >
        <li>Trap Methods</li>
        <ul>
            <li>Light traps are to be set up to attract and control the leaf hopper vectors as well as to monitor the population.</li>
            <li>In the early morning, the population of leafhopper alighting near the light trap should be killed by spraying/dusting the insecticides. This should be practiced every day.</li>
        </ul>
        <li>Cultural Methods</li>
        <ul>
            <li>Planting of resistant varieties against tungro virus disease is the most economical means of managing the disease.</li>
            <li>Use  resistant varieties like IR 36,  IR 50, ADT 37,  Ponmani, Co 45, Co 48, Surekha, Vikramarya, Bharani, IR 36 and white ponni .</li>
            <li>Among the cultural management practices, adjusting the date of planting is recommended.</li>
            <li> Likewise, observing a fallow period of at least a month to eliminate hosts and viruses and vectors of the disease.</li>
            <li> In epidemic areas follow rotation with pulses or oil seeds.</li>
            <li>Apply neem cake @ 12.5 kg/20 cent nursery as basal dose.</li>
        </ul>
        <li>Chemical Methods</li>
        <ul>
            <li>Leaf yellowing can be minimized by spraying 2 % urea mixed with Mancozeb at 2.5 gm/lit.</li>
            <li>Instead of urea foliar fertilizer like multi-K (potassium nitrate) can be sprayed at 1 per cent which impart disease resistance because of high potassium content.</li>
            <li>Green leaf hoppers as vectors are to be controlled effectively in time by spraying.</li>
            <li>Vegetation on the bunds should also be sprayed with the insecticides. Maintain 2.5 cm of water in the nursery and broadcast anyone of the following in<b> 20 cents Carbofuran 3 G 3.5 kg (or) Phorate 10 G 1.0 kg (or) Quinalphos 5 G 2.0 kg.</b></li>
            <li>In nursery when virus infection is low, apply Carbofuran granules @ 1 kg/ha to control vector population.</li>
            <li>During pre-tillering to mid-tillering when one affected hill/m is observed start application of Carbofuran granules @ 3.5kg/ha to control insect vector.</li>
            <li>Spray Two rounds of any one of the following insecticides</li>
            <li><b>Thiamethoxam 25 WDG 100g/ha (or) Imidacloprid 17.8 SL 100ml/ha</b> at 15 and 30 days after transplanting. The vegetation on the bunds should also be sprayed with the insecticides.</li>
        </ul>
    </ul>

</section>
</article>
</body>



</html>