{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stem Borers</title>
        <style>
            article{
            display:flex;
            flex-flow:row wrap;
            justify-content:center;
            margin:0px 5px;
            }
            body{
            color:ivory;
            font-size:22px;
            }
            .s1{
                width:40%;
                 }

        </style>
</head>
<body style="background-image:url({% static 'images/bg1.jpg' %})">
<h1 style="text-align: center">Stem Borers</h1>
<article>
<section class="s1">
<img src="{% static 'images/rice/sbo.jpg' %}"  width="300" height="350">
</section>
<section class="s1" >
    <h2 style="text-align: left; color:lightgreen">Introduction</h2>
    <p>Stem borers can destroy rice at any stage of the plant from seedling to maturity.They feed upon tillers and causes deadhearts or drying of the central tiller, during vegetative stage; and causes whiteheads at reproductive stage.</p>

    <h2 style="text-align: left; color:lightgreen">Symptoms</h2>
    <ul >
        <li>Deadhearts or dead tillers that can be easily pulled from the base during the vegetative stages</li>
        <li>Whiteheads during reproductive stage where the emerging panicles are whitish and unfilled or empty</li>
        <li>Tiny holes on the stems and tillers</li>
        <li>Frass or fecal matters inside the damaged stems</li>
        <li>Deadhearts and whiteheads symptoms may sometimes be confused with damages caused by rats, neck blast, and black bug diseases.</li>
   </ul>
    <h2 style="text-align: left; color:red">Control Measures and Nutrient recommendation</h2>
    <ul >
        <li>Use resistant varieties</li>
        <li>At seedbed and transplanting, handpick and destroy egg masses</li>
        <li>Raise level of irrigation water periodically to submerge the eggs deposited on the lower parts of the plant</li>
        <li>Before transplanting, cut the leaf-top to reduce carry-over of eggs from the seedbed to the field</li>
        <li>Ensure proper timing of planting and synchronous planting, harvest crops at ground level to remove the larvae in stubble, remove stubble and volunteer rice, plow and flood the field</li>
        <li>Encourage biological control agents: braconid, eulophid, mymarid, scelionid, chalcid, pteromalid and trichogrammatid wasps, ants, lady beetles, staphylinid beetles, gryllid, green meadow grasshopper, and mirid, phorid and platystomatid flies, bethylid, braconid, elasmid, eulophid, eurytomid and ichneumonid wasps, carabid and lady bird beetles, chloropid fly, gerrid and pentatomid bugs, ants, and mites,  earwigs, bird, asilid fly, vespid wasp, dragonflies, damselflies, and spiders</li>
        <li>Bacteria and fungi also infect the larvae: mermithid nematode, chalcid, elasmid and eulophid</li>
        <li>Apply nitrogen fertilizer in split following the recommended rate and time of application.</li>

    </ul>

</section>
</article>
</body>



</html>