{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thielaviopsis Trunk Rot-á</title>
        <style>
            article{
            display:flex;
            flex-flow:row wrap;
            justify-content:center;
            margin:0px 5px;
            }
            body{
            color:ivory;
            font-size:22px;
            }
            .s1{
                width:40%;
                 }

        </style>
</head>
<body style="background-image:url({% static 'images/bg1.jpg' %})">
<h1 style="text-align: center">Thielaviopsis Trunk Rot-á</h1>
<article>
<section class="s1">
<img src="{% static 'images/coconut/ttr.jpg' %}"  width="300" height="350">
</section>
<section class="s1" >
    <h2 style="text-align: left; color:lightgreen">Introduction</h2>
    <p>Thielaviopsis paradoxa is the pathogen most commonly associated with Thielaviopsis trunk rot. A second pathogen associated with this disease is Thielaviopsis punctulata. Thielaviopsis paradoxa has a worldwide distribution.</p>

    <h2 style="text-align: left; color:lightgreen">Symptoms</h2>
    <ul >
        <li>Thielaviopsis trunk rot is most often observed on mature palms with considerable trunk height. </li>
        <li>In the landscape, the trunk rot most often occurs in the upper half of the trunk or just below the apical meristem (bud) where there is less lignified trunk tissue.</li>
        <li>Unfortunately, there often are no visible indications that a palm has Thielaviopsis trunk rot until either the trunk collapses on itself or the canopy suddenly falls off the trunk.</li>
        <li>As the disease progresses, the central leaves fall out as they become completely rotten at the base of the leaf stalks, leaving only a few outer leaves, which remain green for a while.</li>
        <li> When the trunk collapse or canopy drop is observed, it means the fungus has rotted the trunk tissue to such an extent that the trunk can no longer structurally support itself.</li>

    </ul>
    <h2 style="text-align: left; color:red">Control Measures and Nutrient recommendation</h2>
    <ul >
        <li>Thielaviopsis trunk rot usually occurs quite randomly, with only a few palms in the landscape being affected. </li>
        <li>However, there are situations where high numbers of palms in a single landscape can become diseased, for reasons that are not always clear.</li>
        <li>when pruning palms, disinfecting tools or using a new tool or blade for each palm may be useful in disease prevention. Examples of disinfectants include: 1) 25% chlorine bleach (3 parts water and 1 part bleach); 2) 25% pine oil cleaner (3 parts water and 1 part pine oil cleaner); 3) 50% rubbing alcohol (70% isopropyl; equal parts alcohol and water); 4) 50% denatured ethanol (95%; equal parts alcohol and water); 5) 5% quatenary ammonium salts. Soak tools for 10 minutes and rinse in clean water.</li>
    </ul>

</section>
</article>
</body>



</html>